{
  "extends": [
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "plugins": ["react"],
  "parserOptions": {
    "project": true
  },
  "rules": {
    "react/display-name": 0,
    "react/react-in-jsx-scope": 0,
    "react/no-unknown-property": ["error", { "ignore": ["css"] }]
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  }
}
